.passwordResetBoxBackground {
    height: 100%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordResetBox {
    height: 60%;
    width: 50%;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.passwordResetBox .error {
    border-color: pink;
    box-shadow: 0 0 0 0.2rem pink !important; 
}

.passwordResetBox .errors-container {
    position: absolute;
    bottom: 0;
    padding:  0 27rem 3rem 27rem;
    width: 100%;
}

.passwordResetBox .errors-container .error-text{
    color: red;
}

#passwordReset {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    width: 100%;
}

#passwordReset .form-group {
    width: 30%;
}

#passwordReset .form-group:nth-child(2) {
    margin-top:.5rem
}

#passwordReset input {
    width: 100%;
    /* margin: .5rem 0 .5rem 0; */
}

#passwordReset > button {
    margin-top: 2rem;
}

.passwordResetBox .login-link {
    position: absolute;
    bottom: 0;
}